@model IEnumerable<library.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>
@if (!Model.Any())
{
    <text>We don't have any book yet!</text>
}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.ActionLink(book.Name, "Details", "Books", new { id = book.Id }, null)
                </td>
                <td>@book.Genre.Name</td>
            </tr>
        }
    </tbody>
</table>


