<appSettings>
  <add key="MailServer" value="dev-smtp.library.com"/>
  <add key="FacebookAppId" value="12345"/>
  <add key="FacebookAppSecret" value="abcde"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
