@model library.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
        </tr>
        @foreach(var customer in Model.Customers)
        {
            <tr>
                <td>
                    <a>
                        @customer.Name
                    </a>
                </td>
            </tr>
        }
    </thead>
</table>
