@model IEnumerable<library.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <text>We don't have any customer yet!</text>
}
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Customers</th>
            <th scope="col">Membership Type</th>
            <th scope="col">Fee</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr class="table-active">
                <td>
                    @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id},null)
                </td>
                <td>@customer.MembershipType.Name</td>
                <td>€@customer.MembershipType.SignUpFee</td>
            </tr>
        }
    </tbody>
</table>


